body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh;
  width: 100vw; */
  margin:0;

}
header{
  text-align: center;
}

.gameBoard{
  width:80vh;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 10%;
  gap:1rem;
 

}
.square{
  border: 2px black solid;
  background-color: grey;
  border-radius: 10%;
  display:flex;
  justify-content: center;
  align-items: center;
  grid-area: auto;
}

.button{
  border: 1px black solid;
  height: 60%;
  width: 60%;
  border-radius: 10%;
  
}
.green{
  background-color: green;
}

.red{
  background-color:red;
}
.yellow{
  background-color: yellow;
}
.blue{
  background-color: blue;
}
.pressed{
  background-color: grey;
  box-shadow: white 10px 10px;
}

.hidden{
  display: none;
  transition: 1s ease-in-out;
}
@media (max-width: 600px ){
.gameBoard{
  width:90vw;
  height:90vw;
}
.button{
  height:75%;
  width: 75%;
}
}